.nav {
    margin: 1% 0 2% 0;
    text-align: center;
    padding-left: 10%;
}
.links {
    margin: 1%;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(170, 170, 170);
}
.active-nav {
    color:#000;
}
.btnLight,
.btnDark {
    font-family: 'Nunito Sans', sans-serif;
    float: right;
    cursor: pointer;
    background-color: inherit;
    color: #000;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 0.5% 1%;
    margin-right: 5px;
    transition: all 1s;
}
.btnLight:hover,
.btnDark:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
}
.btnLight:active,
.btnDark:active {
    transform: scale(0.9);
}
button:focus {
    outline: none;
}